{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'Annonces'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>{{ 'liste_annonces'|trans }}</h1>

    {% for messagePurge in app.session.flashbag.get('purgeInfo') %}
        <div class="alert alert-success">
            {{ messagePurge }}
        </div>
    {% endfor %}

    <hr>

    {% block ocplatform_body %}
    {% endblock %}

{% endblock %}